<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.franzaine.stichdlive" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sv.franzaine.stichdlive.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name=".av7foldannisthlmactivity"
        android:label="Annihalation Tour - Stockholm"
        android:parentActivityName="sv.franzaine.stichdlive.MainActivity" >
        </activity>

    </application>

</manifest>
